<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <!-- BepInEx components
        <ComponentGroup Id="BepInExComponents" Directory="INSTALLDIR">
            <Component Guid="C5883653-FC21-4058-BAB9-4E77E86B56A8">
                <File Source="C:\Users\jeffa\Desktop\Bum-bo\Modding\Windfall\BepInEx Versions\BepInEx_win_x64_5.4.23.2\**" />
            </Component>
        </ComponentGroup>  -->
        <!-- Windfall components -->
        <ComponentGroup Id="WindfallComponents" Directory="WindfallDirectory">
            <Component>
                <File Source="The Legend of Bum-bo_Windfall.dll" />
            </Component>
            <Component>
                <File Source="C:\Users\jeffa\Desktop\Bum-bo\Modding\Windfall\The Legend of Bum-bo_Windfall\The_Legend_of_Bum_bo_Windfall\windfall" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
