<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <!-- Assign target directory (The Legend of Bum-bo folder)
        <SetProperty Id="TARGETDIR" Before="CostFinalize" Value="[VANILLA_BUMBO_PROGRAM_PATH]" /> -->

        <!-- Assign install directory inside target directory (The Legend of Bum-bo/BepInEx/plugins)
        <StandardDirectory Id="TARGETDIR">
            <Directory Id="BepInExFolder" Name="BepInEx">
                <Directory Id="INSTALLDIR" Name="plugins" />
            </Directory>
        </StandardDirectory> -->
    </Fragment>
</Wix>
