<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand">
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <title>The Legend of Bum-bo: Windfall</title>
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="site.webmanifest" />
  </head>


  <body style="background-image:url('assets/Coins Pattern.png');background-size: 140px 140px; font-size: 1.5em;font-family: Quicksand">

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
